

.guideSections{
    /* will be replaced with material grid */
    display: inline-block;
    margin: 20px;
}



.bioSections{
    /* will be replaced with material grid */
    display: inline-block;
    margin: 20px;
}