body{
    --red: #f01e3c;
}


.landingPageContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.missionContainer{
    width: 100vw;
    height: 300px;
    margin:auto;
    max-width:100%;
    max-height:100%;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.guideContainer{
    display: flex;
    flex-direction: row;
}
.guideSection{
    display: inline-block;
    margin: 20px;
    width: 25vw;
    border: 1px solid var(--red);
    padding: 10px;
    border-radius: 10px;
}

.guideSection h3{
    font-size: 20px;
    text-align: center;
}

.guideSection p{
    text-align: center;
}

.testimonialContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:  100vw;
}

.testimonialSection{
    margin: 20px;
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--red);
}

.testimonialSection p{
    width: 100%;
    padding: 5px;
}

.bioSections{
    /* will be replaced with material grid */
    display: inline-block;
    margin: 20px;
}

a{
    text-decoration: none;
    margin: 20px;
    color: white;
}

.getStarted{
    left:0; 
    right:0;
    top:0; 
    bottom:0;
    margin:auto;
    max-width:100%;
    max-height:100%;
    overflow:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
