body{
    --red: #eb1b3b;;
}

.landingPageContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.missionContainer{
    width: 100vw;
    min-height: 600px;
    margin:auto;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

@media only screen and (orientation: portrait){
    .missionContainer{
        height: 180vh;
    }
    .hockeyGif{
        height: 100%;
        width: 140%;
        position: absolute;
        z-index: 1;
    }
}

@media only screen and (orientation: landscape){
    .hockeyGif{
        height: 120%;
        width: 100%;
        position: absolute;
        z-index: 1;
    }
}

.missionHeader{
    font-family: 'Audiowide', sans-serif;
}

.missionStatement{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient( to bottom, rgba(235, 27, 60, 1) 2.5%,
                                            rgba(235, 27, 60, 0.9) 2.5%, 
                                            rgba(235, 27, 60, 0.7) 90%
                                                                        );
    color: #fff;
}

.guideContainer{
    display: flex;
    justify-content: space-around;
    height: 50%;
    width: 90%;
}

@media only screen and (orientation: landscape){
    .guideContainer{
        flex-direction: row;
        padding: 0 2vw 0 2vw;
    }

    .guideSection{
        width: 20vw;
        min-width: 250px;
    }

    .guideImg{
        height: 40%;
        width: 100%;
    }

    .guideSection p{
        font-size: 20px;
        padding: 1em;
        margin: 0;
    }

    .arrow{
        width: 20vw;
    }
}

@media only screen and (orientation: portrait){
    .guideContainer{
        flex-direction: column;
        align-items: center;
        height: 100vh;
    }

    .guideSection{
        height: 50%; 
        width: 80vw;
    }

    .guideImg{
        height: 10vh;
        width: 100%;
    }

    .arrow{
        transform: rotate(90deg);
        width: 10vw;
    }
}

.guideSection{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    border: 10px solid #fff;
    border-radius: 20px;
    box-shadow: 5px 10px 10px rgba(255,255,255,0.2), inset 5px 10px 10px rgba(255,255,255,0.2);
}


.guideSection h3{
    font-family: 'Audiowide', sans-serif;
    font-size: 20px;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(255,255,255,0.2);
}

.guideSection p{
    text-align: center;
}


@media only screen and (orientation: landscape){
    .testimonialContainer{
        flex-direction: row;
    }

    .testimonialSection{
        width: 25vw;
        min-width: 250px;
    }

    .pictureFrame{
        width: 10vw;
        height: 10vw;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
        justify-content: center;

    }

    .testimonialSection img {
       height: 100%
    }
}

@media only screen and (orientation: portrait){
    .testimonialContainer{
        flex-direction: column;
    }

    .testimonialSection{
        width: 80vw;
    }

    .testimonialSection img{
      
    }
}
.testimonialContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width:  100vw;
}

.testimonialSection{
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid var(--red);
    border-radius: 10px;
    background-color: rgba(255,255,255,0.2);
    box-shadow: 5px 10px 10px rgba(0,0,0,0.2), inset 5px 10px 10px rgba(0,0,0,0.1);
    padding: 10px 0 0 0;
}

.testimonialSection p{
    width: 100%;
    padding: 5px;
}

.bioSections{
    /* will be replaced with material grid */
    display: inline-block;
    margin: 20px;
}

a{
    text-decoration: none;
    margin: 20px;
    color: white;
}

.getStarted{
    left:0; 
    right:0;
    top:0; 
    bottom:0;
    margin:auto;
    max-width:100%;
    max-height:100%;
    overflow:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.guideSection:hover {
    cursor: pointer;
}