body{
    --red: #f01e3c;
}

.setPasswordForm{
    height: 350px;
    background-color: #fff;
    border: 5px solid var(--red);
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}