.search-form {
    background-color: #eb1b3b;
    width: 60%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
    text-align: center;
    color: white;
}

.table-head {
    background-color: #eb1b3b;
}

.th {
    color: white;
}