*{
    box-sizing: border-box;
}

html, body {
    font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

.instructions h1 {
    font-size: 24px;
    font-weight: 700;
}

.instructions {
    background-color: #00acb0;
    padding: 5px;
    color: #ece7e7;
}

form {
    background-color: #dbd5d5;
    width: 30%;
    height: auto;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

.center-text {
    text-align: center;
    width: 90vw;
}

.center-element {
    margin-left: auto;
    margin-right: auto;
}

input[type="submit"] {
    margin: 10px;
}

.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
     background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

.mainContainer{
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: relative;
}

.pageContainer{
    margin-top: 100px;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
  background-color: #00acb0;
  width: 100vw;
}


.nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100vw;
    height: 100px;
    background-color: #eb1b3b;
    text-align: right;
    border-radius: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Audiowide', sans-serif;
}

.navLinkWrapper{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 100px;
}

.logoutBtn{
    position: absolute;
    top: 20px;
    right: 20px;
    font-family: 'Audiowide', sans-serif;
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

.logo{
    height: 100px;
    width: 225px;
    float: left;
} 

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

/* Change the link color to #111 (black) on hover */
li a:hover {
    text-decoration: underline;
    color: #eee;
}

.checkout {
    background-color: #dbd5d5;
    width: 80%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

.payButton {
    background-color: skyblue;
    height: 40px;
    width: 300px;
    font-family: bold;
}

.payButton:hover {
    background-color: blue;
}