body{
    --red: #eb1b3b;
}

.profile-form-container form {
    width: 90%;
    height: 500px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

.profile-form-container{
    width: 100vw;
}

.playerFormSection{
 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

.info-form {
    background-color: white;
    width: 1200px;
    height: 600px;
    border-radius: 2px;
    text-align: center;
    border-radius: 100px;
    border: 5px solid #eb1b3b;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
}

.align-left {
    text-align: left
}

.fileStackContainer {
    margin-top: 25px;
    margin-bottom: 5px;
    float: left;
}

.submitButton {
    margin-top: 25px;
    margin-bottom: 5px;
    float: right;
}

.bottom {
    margin-bottom: 0px;
}

.profileContainer{
    width: 90%;
    padding: 20px 0 0 0 ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.profilePicContainer{
    border: 5px solid var(--red);
    height: 35vh;
    width: 20vw;
    min-width: 250px;
    margin-right: 50px;
}

.videoSpacing{
    margin-bottom: 7px;
}

.profilePicContainer img {
    width: 100%;
    height: 100%;
}


.infoContainer{
    width: 30vw;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.infoContainer h3{
    width: 100%;
    text-align: center;
    margin: 10px;
}

.personInfo{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: center; */
}

.toolbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: var(--red);
    height: 100px;
}

.toolbar h1{
    width:100%;
    text-align: center;
    font-family: 'Audiowide', sans-serif;
}


.playerBioArrangement{
    margin-top: 20px;
    flex-grow: 1;
    min-width: 250px;
}

.suspend-form {
    width: 25%;
    height: auto;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
    text-align: center;
    border: 5px solid #eb1b3b;
    background-color: white;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.videoContainer{
    display: flex;
    flex-direction: column;
    width: 450px;
}

.infoRow{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}