body{
    --red: #eb1b3b;
}

.profile-form-container form {
    width: 90%;
    height: 500px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

.profile-form-container{
    width: 100vw;
}

.playerFormSection{
    width: 50vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    min-width: 500px;
    min-height: 800spx;
    width: 20vw;
}

.display {
    border: 1px solid black;
    height: 80vh;
    width: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

img {
    width: 10vw;
}

.img {
    width: 100%;
}


.profilePicContainer{
    border: 5px solid var(--red);
    height: 25vh;
    width: 20vw;
}

.profilePicContainer img {
    width: 100%;
    height: 100%;
}

.infoContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoContainer h3{
    width: 100%;
    text-align: center;
    margin: 10px;
}

.toolbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: var(--red);
    height: 100px;
}

.toolbar h1{
    width:100%;
    text-align: center;
    font-family: 'Audiowide', sans-serif;
}