body{
    --red: #eb1b3b;
}

.profile-form-container form {
    width: 90%;
    height: 500px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

.profile-form-container{
    width: 100vw;
}

.playerFormSection{
    width: 50vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

.profileContainer{
    width: 90%;
    padding: 20px 0 0 0 ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.profilePicContainer{
    border: 5px solid var(--red);
    height: 25vh;
    width: 20vw;
}

.profilePicContainer img {
    width: 100%;
    height: 100%;
}

.infoContainer{
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoContainer h3{
    width: 100%;
    text-align: center;
    margin: 10px;
}

.personInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.toolbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: var(--red);
    height: 100px;
}

.toolbar h1{
    width:100%;
    text-align: center;
    font-family: 'Audiowide', sans-serif;
}