body{
    --red: #eb1b3b;
}

.profile-form-container form {
    width: 90%;
    height: 500px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

.profile-form-container{
    width: 100vw;
}

.playerFormSection{
 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

.profileContainer{
    width: 90%;
    padding: 20px 0 0 0 ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.profilePicContainer{
    border: 5px solid var(--red);
    height: 35vh;
    width: 20vw;
}

.videoSpacing{
    margin-bottom: 7px;
}

.profilePicContainer img {
    width: 100%;
    height: 100%;
}

.infoContainer{
    width: 30vw;
    min-width: 70px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.infoContainer h3{
    width: 100%;
    text-align: center;
    margin: 10px;
}

.personInfo{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: center; */
}

.toolbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: var(--red);
    height: 100px;
}

.toolbar h1{
    width:100%;
    text-align: center;
    font-family: 'Audiowide', sans-serif;
}


.playerBioArrangement{
    margin-top: 20px;
}

.suspend-form {
    width: 25%;
    height: auto;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
    text-align: center;
    border: 5px solid #eb1b3b;
    background-color: white;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
<<<<<<< HEAD
=======

>>>>>>> 4256bded935b4445d6b9884504f4c9446590963e
}