body{
    --red: #f01e3c;
}

.register-form {
    z-index: 2;
    background-color: white;
    width: 25%;
    min-width: 400px;
    height: 400px;
    margin: 20px auto;
    padding: 35px;
    border-radius: 2px;
    text-align: center;
    border-radius: 100px;
    border: 5px solid var(--red);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.formInputs{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;
}

.formInputContainer{
    width: 100%;
    padding-right: 9%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.btnContainer{
    display: flex;
    flex-direction: row;
}

Link{
    color: #000;
}

.inverseLogo{
    width: 50vw;
    position: absolute;
    left: 0;
    bottom: -200px;
}

.stripeForm{
    margin-top: 20px;
}

.StripeElement{
    border-bottom: 1px solid #949494;
    padding-bottom: 5px;
}

.inverseLogo{
    position: absolute;
    bottom: 2vh;
    left: -20px;
    width: 800px;
    z-index: 1;
}