body{
    --red: #f01e3c;
}

.registerForm{
    background-color: #fff;
    height: 300px;
    border: 5px solid var(--red);
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.formInputs{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;
}

.btnContainer{
    display: flex;
    flex-direction: row;
}

Link{
    color: #000;
}