
*{
    box-sizing: border-box;
    --red: #eb1b3b;
}


.navbar {
    background: var(--red);
    width: 100vw;
    box-shadow: none !important;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
    top: -70px;
}

@media only screen and (orientation: landscape){
    .navbar-toggler, .navbar-brand, .collapse{
        position: relative;
        top: 40px;
    }
}

@media only screen and (orientation: portrait){
    .navbar-toggler, .navbar-brand{
        position: relative;
        top: 40px;
    }
}

@media (min-width: 768px){
    .collapse{
        position: relative;
        top: 40px;
    }
}

.nav{
    text-align: right;
    border-radius: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Audiowide', sans-serif;
}

.logo{
    height: 100px;
    width: 200px;
} 
