
*{
    --red: #eb1b3b;
}


.navbar {
    background: var(--red);
    height: 100px;
    width: 100vw;
    box-shadow: none !important;
}


.nav{
    text-align: right;
    border-radius: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Audiowide', sans-serif;
}


.pageLinks{
    display: flex;
    flex-direction: row;
}

.logo{
    height: 80px;
    width: 150px;
    float: left;
} 
